
<div class="container mt-4">
  <div class="row">
   <div class="col-md-4 mb-4" *ngFor="let post of postarr">
        <div class="card">
          <div class="card-header">
               {{post.title}}
          </div>
          <div class="card-body">
              {{post.body}}
          </div>
          <div class="card-footer d-flex justify-content-between">
            <button class="btn btn-outline-primary">Edit</button>
            <button class="btn btn-outline-danger">Remove</button>
          </div>
        </div>
   </div>
  </div>
</div>
